.markdown .doc-menu .menu-block {
    padding-left: 10px;
    margin-top: 0
}

.markdown .doc-menu .menu-block-header {
    text-decoration: none;
    color: #0097a7;
    font-size: 18px
}

.markdown .doc-menu .menu-block-header:hover {
    color: rgb(0, 188, 212);
}

.markdown .doc-menu .menu-sub-block {
    padding-left: 16px
}

.markdown .doc-menu .menu-sub-block-item {
    text-decoration: none;
    color: rgba(0,0,0,0.870)
}

.markdown .doc-menu .menu-sub-block-item:hover {
    color: rgb(0, 188, 212);
}